:root {
  --header-height: 5rem;
  --container-width: 84.75rem;
  --clr-light: hsl(0, 0%, 100%);
  --clr-grey-light: hsl(0, 0%, 44%);
  --clr-grey: hsl(0, 0%, 15%);
  --clr-grey-dark: hsl(60, 4%, 11%);
  --clr-dark: hsl(0, 0%, 0%);
  --clr-primary: hsl(353, 75%, 51%);
  --clr-danger: hsl(4, 90%, 58%);
  --clr-success: hsl(122, 57%, 69%);
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --spacing: 0.04em;
  --transition-1: all 0.3s ease-out;
  --transition-2: all 0.2s ease-out;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;
  --radius-s: 0.625rem;
  --radius-m: 1.75rem;
  --z-fixed: 100;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v25-latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v25-latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

p,
ul,
ol,
figure,
blockquote,
dl,
dd,
hr {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  overflow: -moz-hidden-unscrollable;
  overflow-x: clip;
  margin: 0;
  padding: 0;
}

a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture,
video {
  max-width: 100%;
  display: block;
  height: auto;
}

p:not([class]),
ul:not([class]),
li:not([class]) {
  max-width: 60ch;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--clr-grey) inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--clr-light) !important;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  text-transform: none;
  background-color: transparent;
  padding: 0;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  scroll-padding-top: var(--header-height, 5.625rem);
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-primary), sans-serif;
  font-size: 1rem;
  color: var(--clr-light);
  line-height: 1.5;
  background-color: var(--clr-dark);
}

main {
  margin-top: var(--header-height);
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-secondary);
  color: var(--clr-light);
  font-weight: var(--fw-semi-bold);
  line-height: 1.15;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

.container {
  max-width: var(--container-width);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 40em) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.container-full {
  max-width: none;
}

.flow > * + * {
  margin-top: var(--flow, 0.75rem);
}

.gutter > * + * {
  margin-left: var(--flow, 0.75rem);
}

.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 45rem;
  margin: 0 auto;
  gap: 0.3rem;
}

.section {
  padding: 1rem;
  min-height: calc(100vh - var(--header-height));
}
@media only screen and (min-width: 40em) {
  .section {
    padding: 1rem 1.5rem;
  }
}

.hide {
  display: none;
}

.active {
  opacity: 1 !important;
}

.error-message {
  margin-bottom: 0.75rem;
  margin-top: 0.5rem;
  font-family: var(--ff-primary);
  font-size: 0.75rem;
  font-weight: var(--fw-regular);
  line-height: 1.5;
  color: var(--clr-danger);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.sr-text {
  position: absolute;
  left: -999px;
  width: 1px;
  height: 1px;
  top: auto;
}
.sr-text:focus {
  display: inline-block;
  height: auto;
  width: auto;
  position: static;
  margin: auto;
}

.v-hidden {
  visibility: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--clr-dark);
}

.nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}
.nav__link {
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 0;
  gap: 0.875rem;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-semi-bold);
  line-height: 1.875rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}
.nav__link:hover, .nav__link:focus {
  text-decoration: none;
}
.nav__login {
  transition: var(--transition-1);
}
.nav__login:hover, .nav__login:focus {
  opacity: 0.6;
}

#navMenu svg {
  z-index: -1;
  overflow: visible;
  transition: all 1s ease-in-out;
}
#navMenu svg g {
  overflow: visible;
}
#navMenu svg line {
  transition: var(--transition-1);
}

.contact {
  position: relative;
  background-color: var(--clr-grey);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--container-width);
}
.contact__close {
  z-index: 50;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.25rem;
}
.contact__close:focus {
  outline: solid 1px #fff;
}

.choice {
  padding: 4rem 1.25rem;
}
@media only screen and (min-width: 60em) {
  .choice {
    padding: 7.25rem 6.25rem;
  }
}
.choice__head h1 {
  font-size: 3rem;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
}
@media only screen and (min-width: 60em) {
  .choice__head h1 {
    font-size: 4.5rem;
  }
}
.choice__head p {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-semi-bold);
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  margin-top: 0.5rem;
}
@media only screen and (min-width: 60em) {
  .choice__head p {
    font-size: 2rem;
  }
}
.choice__grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 2.5rem;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
@media only screen and (min-width: 60em) {
  .choice__grid {
    margin-top: 6rem;
  }
}
.choice__card {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.25rem 0.625rem;
  border-radius: var(--radius-s);
  border: 0.125rem solid var(--clr-grey-light);
  transition: var(--transition-2);
}
.choice__card:hover {
  border: 0.125rem solid var(--clr-light);
}
.choice__card:hover .choice__card-check {
  border: 0.125rem solid var(--clr-light);
}
.choice__card:focus {
  background-color: var(--clr-grey-dark);
  border: 0.125rem solid var(--clr-primary);
}
.choice__card:focus .choice__card-check:before {
  opacity: 1;
}
.choice__card-check {
  position: absolute;
  top: 0;
  left: 50%;
  width: 3.125rem;
  height: 3.125rem;
  transform: translate(-50%, -50%);
  border: 0.125rem solid var(--clr-grey-light);
  border-radius: 50%;
  background-color: var(--clr-grey);
  transition: var(--transition-2);
}
.choice__card-check::before {
  content: "";
  position: absolute;
  left: -3px;
  top: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  opacity: 0;
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: 1;
  border-radius: 50%;
  transition: var(--transition-2);
}
.choice__card-title {
  display: block;
  font-size: 1.5rem;
}
.choice__card-image {
  margin-top: 1.25rem;
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  height: 6.25rem;
  width: 6.25rem;
  background-color: var(--clr-grey-light);
}
.choice__card-image img {
  transform: scale(1.02);
}
.choice__card-person {
  margin-top: 1.25rem;
  font-size: 1.25rem;
  font-weight: var(--fw-medium);
}
.choice__card-job {
  font-size: 1.125rem;
  margin-top: 0.3rem;
}
.choice__card-phone {
  display: flex;
  flex-direction: row;
  margin-top: 0.3rem;
  gap: 0.75rem;
  align-items: center;
}
.choice__btn {
  margin-top: 1.5rem;
  display: inline-block;
  background-color: transparent;
  color: var(--clr-light);
  padding: 0.5rem 4.5rem;
  font-size: 1.25rem;
  border-radius: var(--radius-m);
  opacity: 0.6;
  transition: var(--transition-1);
  border: 0.125rem solid var(--clr-light);
}
@media only screen and (min-width: 60em) {
  .choice__btn {
    margin-top: 3rem;
  }
}

.form {
  padding: 4rem 1.25rem;
}
@media only screen and (min-width: 60em) {
  .form {
    max-width: 54rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.form__head button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  transition: var(--transition-2);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-semi-bold);
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.form__head button:hover, .form__head button:focus {
  gap: 1rem;
}
.form__head h2 {
  margin-top: 1.25rem;
  font-size: 3rem;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  font-weight: var(--fw-medium);
}
@media only screen and (min-width: 60em) {
  .form__head h2 {
    font-size: 4.5rem;
  }
}
.form__choice {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}
@media only screen and (min-width: 60em) {
  .form__choice {
    margin-top: 2rem;
  }
}
.form__choice-image {
  border-radius: 50%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  height: 3.125rem;
  width: 3.125rem;
  background-color: var(--clr-grey-light);
}
.form__choice img {
  transform: scale(1.03);
}
.form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1.25rem;
}
@media only screen and (min-width: 60em) {
  .form form {
    flex-direction: row;
    gap: 7.5rem;
    margin-top: 2.5rem;
  }
}
.form__col {
  width: 100%;
  max-width: 25rem;
}
.form label {
  display: block;
}
.form label input[type=text],
.form label input[type=email],
.form label input[type=date],
.form label textarea {
  display: inline-block;
  width: 100%;
  line-height: 1.75;
  background-color: var(--clr-grey) !important;
  color: var(--clr-light) !important;
  border: var(--clr-grey-light) solid 0.125rem;
  padding: 0.25rem 0.5rem;
}
.form label input[type=text]::-moz-placeholder, .form label input[type=email]::-moz-placeholder, .form label input[type=date]::-moz-placeholder, .form label textarea::-moz-placeholder {
  color: var(--clr-light);
}
.form label input[type=text]:-ms-input-placeholder, .form label input[type=email]:-ms-input-placeholder, .form label input[type=date]:-ms-input-placeholder, .form label textarea:-ms-input-placeholder {
  color: var(--clr-light);
}
.form label input[type=text]::placeholder,
.form label input[type=email]::placeholder,
.form label input[type=date]::placeholder,
.form label textarea::placeholder {
  color: var(--clr-light);
}
.form legend {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-semi-bold);
  font-size: 1.25rem;
  line-height: 1.3;
}
.form .infos__email {
  margin-top: 1.25rem;
}
.form .infos__name {
  margin-top: 0.5rem;
}
.form .infos__nachricht {
  margin-top: 0.5rem;
}
.form .callback__auswahl {
  min-height: 2.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 1rem;
}
.form .callback__auswahl label {
  display: flex;
  cursor: pointer;
}
.form .callback__auswahl label input[type=radio]:checked + span {
  opacity: 1;
}
.form .callback__auswahl label input[type=radio]:focus + span:before {
  outline: var(--clr-light) solid 0.125rem;
}
.form .callback__auswahl label span {
  opacity: 0.6;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  font-family: var(--ff-secondary);
  font-size: 1.25rem;
  font-weight: var(--fw-semi-bold);
  transition: var(--transition-2);
}
.form .callback__auswahl label span:before {
  content: "";
  display: inline-block;
  margin-right: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 0.3125rem;
}
.form .callback__auswahl-jup span::before {
  background-image: url(../images/yes.svg);
  background-color: var(--clr-success);
}
.form .callback__auswahl-nope span::before {
  background-image: url(../images/no.svg);
  background-color: var(--clr-danger);
}
.form .callback__telefon {
  margin-top: 1.25rem;
}
.form .callback__termin {
  margin-top: 0.5rem;
}
.form .callback__datenschutz {
  margin-top: 1rem;
  line-height: 1.625rem;
}
@media only screen and (min-width: 60em) {
  .form .callback__datenschutz {
    margin-top: 2rem;
  }
}
.form .callback__datenschutz a {
  margin-top: 0.5rem;
  display: inline-block;
  font-family: var(--ff-secondary);
  font-size: 1rem;
  font-weight: var(--fw-semi-bold);
}
.form__message {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  min-height: 0;
}
.form__message-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--clr-dark);
}
.form__message .success {
  background-color: var(--clr-success);
}
.form__message .error {
  background-color: var(--clr-error);
}
.form .show {
  margin-top: 1rem;
  opacity: 1;
  min-height: 6rem;
}
@media only screen and (min-width: 40em) {
  .form .show {
    min-height: 5.5rem;
  }
}
.form__btn {
  margin-top: 1rem;
  display: inline-block;
  cursor: pointer;
  max-width: 20rem;
  width: 100%;
  font-family: var(--ff-primary);
  font-size: 1.25rem;
  font-weight: var(--fw-medium);
  background-color: var(--clr-primary);
  color: var(--clr-light);
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: var(--radius-m);
  border: var(--clr-primary) 2px solid;
}
@media only screen and (min-width: 60em) {
  .form__btn {
    margin-top: 1.75rem;
  }
}
.form__richtlinien {
  margin-top: 1rem;
  font-family: var(--ff-primary);
  font-size: 0.75rem;
  font-weight: var(--fw-regular);
  line-height: 1.5;
}/*# sourceMappingURL=style.css.map */