@use "../abstracts" as *;

.container {
  max-width: var(--container-width);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  @include mq(s) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  &-full {
    max-width: none;
  }
}

.flow > * + * {
  margin-top: var(--flow, 0.75rem);
}

.gutter > * + * {
  margin-left: var(--flow, 0.75rem);
}

.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 45rem;
  margin: 0 auto;
  gap: 0.3rem;
}

.section {
  padding: 1rem;
  @include mq(s) {
    padding: 1rem 1.5rem;
  }
  min-height: calc(100vh - var(--header-height));
}

.hide {
  display: none;
}

.active {
  opacity: 1 !important;
  // &:hover,
  // &:focus {
  //   opacity: 1;
  //   text-decoration: none;
  // }
}
