@use "../abstracts" as *;

.button {
  display: inline-flex;
  position: relative;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  padding: 0.5rem 2rem;
  font-size: var(--fs-0);
  font-weight: var(--fw-bold);
  border-radius: var(--radius-m);
  align-items: center;
  transition: 0.3s;

  &:hover,
  &:focus {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    text-decoration: none;
  }
}
